

/* Home.module.css */
**{
  padding: 0px;
  margin: 0px;
}
/* Container styles */
.container {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px;
  color: #14274A80;
}

/* Hero Section styles */
.heroSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}


.header{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: gold;
  width: 100%;
  margin-bottom: 22%;
  margin-right: 5%;

}
nav {
  height: 31px;
  width: 240px;
  display: flex;;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  position: relative;
  padding-top: 4px;


 

}


.navContainerFacilities {
  width: 116px;
  height: 30px;
  top: 59px;
  left: 1536.963134765625px;

}

.navLinkFacilties {
  color: #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 25px;
  font-weight: 700;
   margin-right:6vh;
  letter-spacing: 0;
  line-height: normal;
  position: relative;


}

.navContainerRooms {
  width: 89px;
  height: 30px;
  top: 59px;
  left: 1749.787109375px;
  border: 0.5px;

}

.navLinkRooms {
  -webkit-text-stroke: 0.5px #ffffff;
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  line-height: 30.48px;

  width: 89px;
  height: 30px;
  top: 59px;
  left: 1749.787109375px;
  border: 0.5px;

}
.slogan {
  
  background-color:black;
  
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 698.239990234375px;
  height: 328px;
  top: 342px;
  left: 213px;


}

.welcomeText {
 
}

.welcomeText p {
 
}

.hotelName {
  
}

.hotelName h1 {
 
}

.hotelTag {
 
}

.hotelTag h2 {
 
}

.advText {
 
}

.advText h2 {
 
}

/* Rest of your existing styles */
