

/* Home.module.css */
**{
  padding: 0px;
  margin: 0px;
}
/* Container styles */
.container {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px;
  color: #14274A80;
}

/* Hero Section styles */
.heroSection {
  background-size: cover;
  background-position: center;
  width: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 20px;
}

/* Containerlinks styles */
nav {
  height: 31px;
  width: 303px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin-bottom: 35%;
  margin-left: 50%;
}

.navContainerFacilities {
  
}

.navLinkFacilties {
  color: #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 25px;
  font-weight: 700;

  letter-spacing: 0;
  line-height: normal;
  position: fixed;

  white-space: nowrap;
}

.navContainerRooms {
 
}

.navLinkRooms {
  -webkit-text-stroke: 0.5px #ffffff;
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;

  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  margin-left: 9%;
  white-space: nowrap;
}

.slogan {
  height: 600px; /* Adjusted height */
  top: 200px; /* Adjusted top position */
  width: 575px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

}

.welcomeText {
 
}

.welcomeText p {
 
}

.hotelName {
  
}

.hotelName h1 {
 
}

.hotelTag {
 
}

.hotelTag h2 {
 
}

.advText {
 
}

.advText h2 {
 
}

/* Rest of your existing styles */
