.reservationSuccessContainer {
  display: flex;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px black;
  color:rgb(70, 3, 70) ;
    flex-direction: column;
    justify-content: center;
    width: auto;
  }
  
  .reservationSuccessTitle {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .roomName {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .date {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .message {
    font-size: 16px;
  }
  
  .enjoyMessage {
    font-style: italic;
  }
  