
  
 .header {
  background-color:#fff;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px black;
  border-radius: 4px;
}

.logoPlcHolder a {
  text-decoration: none;
  box-shadow: 0 2px 4px rgb(210, 1, 233) ;
  font-size: 18px;
  font-weight: 500;
  background-color:black;
  color:rgb(251, 215, 7) ;
  border-radius: 50px;
  display: inline;
}
.logoPlcHolder a:hover{
  color: #a00ecd;
}

.links a {
  text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    font-weight: 500;
    
 color:rgba(75, 4, 117, 0.985) ;
    border-radius: 4px;
}
.links a:hover{
  color: gold;
}

.links a:last-child {
  margin-right: 0;
}

.container {
  margin: 20px;
  padding: 20px;

}

label {
  font-weight: bold;
  margin-right: 10px;
}

input {
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  justify-content: center;
  display: inline-block;
  padding:10px;
  background-color:rgb(111, 4, 127);
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 10px;
  font-weight:1000;
}
button:hover{
  color: gold;
}
.formContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px black;
  margin: 20px;
  padding: 20px;
}
.formContainer p{
  color: #450658;
  font-weight:1000;
}
.resetButton{
  margin-left: 120px;
}