/* RoomCard.module.css */
.roomCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;

  margin-bottom: 20px;
  box-shadow: 0 2px 4px black;
  margin: 20px;
  padding: 20px;
}

.picture {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.info {
  flex-grow: 1;
  margin-left: 20px;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.features {
  font-size: 16px;
  color: #42044b;
}

.bookNowButton {
  justify-content: center;
  display: inline-block;
  padding:10px;
  background-color:rgb(111, 4, 127);
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 10px;
  font-weight:1000;
  
}
.bookNowButton:hover {
color: gold;
}
.rating {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.starRating {
  color: gold;
}

.ratingText {
  margin-left: 5px;
  font-size: 16px;
}

.likeIcon button {
  background: none;
  border: none;
  cursor: pointer;
  color:red;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
